{% extends "base.html" %}
{% block content %}

<div class="d-flex  justify-content-between">
<p class="h4" style="text-align:right">

فروشگاه: {{shops.title}} 
</p>
{% if  shops%}
{% if shops.is_active %}
<a href="{% url 'shop:productregister' %}" class="btn btn-primary">ثبت محصول</a>
<a href="{% url 'shop:shopupdate' shops.id %}" class="btn btn-warning">ویرایش فروشگاه</a>
<a href="{% url 'shop:shopdelete' shops.id %}" class="btn btn-danger">حذف فروشگاه</a>
{% endif %}
{% else %}
<a href="{% url 'shop:shopregister' %}" class="btn btn-primary">ثبت فروشگاه</a>


{% endif %}
</div>
<hr>
<p class="h4" style="text-align:right">محصولات</p>
<table class="table" , style="text-align:center">
    <thead>
        <tr>
            <th>عنوان</th>
            <th>دسته بندی </th>
            <th>قیمت</th>
            <th>وضعیت</th>
            <th>ویرایش</th>
            <th>حذف</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{product.title}}</td>
            <td>{{product.categoy.title}}</td>
            <td>{{product.price}}</td>
            <td><a href="{% url 'shop:productstate' product.id %}" class="btn btn-info" >{{product.is_active}}</a></td>
            <td><a href="{% url 'shop:productupdate' product.id %}" class="btn btn-warning" >ویرایش</a></td>
            <td><a href="{% url 'shop:productdelete' product.id %}" class="btn btn-danger" >حذف</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table> {% endblock content %}