<!DOCTYPE html>
<html lang="en" dir="rtl">
{% load static %}


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Document</title>
  <style>
    @font-face {
      font-family: "yekan";
      src: url('/static/fonts/Yekan.ttf') 
    }

    body {
      font-family: "yekan";
      direction: rtl;
      text-align: right;
    }
  </style>
</head>

<body>
  <!-- navbar 01 -->
 
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'posts' %}">وب سایت من</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">


        {% comment %} <form class="form-inline" action="{%url 'search' %}" name="search_box">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" id="searchbox" >
          <button class="btn btn-success" type="submit">Search</button>
        </form > {% endcomment %}
        <form class="form-inline my-2 my-lg-0" action="{%url 'search' %}">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" >
    <button class="btn btn-success" type="submit">Search</button>
    </form>
      </ul>
    </div>
  </nav>


  <!-- navbar 02 -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item active"><a href="{% url 'posts' %}" class="nav-link">صفحه اصلی</a></li>
        <li class="nav-item active"><a href="{% url 'posts' %}" class="nav-link">پست ها</a></li>
        <li class="nav-item active"><a href="{% url 'categorys' %}" class="nav-link">دسته بندی ها </a></li>
        <li class="nav-item active"><a href="{% url 'tags' %}" class="nav-link">تگ ها </a></li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item active"><a href="#" class="nav-link"> سلام , {{user.username}}</a></li>
        <li class="nav-item active"><a href="{% url 'new_post' %}" class="nav-link">پست جدید</a></li>
        <li class="nav-item active"><a href="{% url 'logout' %}" class="nav-link">خروج</a></li>
        {% else %}
        <li class="nav-item active"><a href="{% url 'login_view' %}" class="nav-link">ورود</a></li>
        <li class="nav-item active"><a href="{% url 'register' %}" class="nav-link">ثبت نام</a></li>
        {% endif %}

      </ul>
    </div>
  </nav>
      {% comment %} <img class="d-block w-100" src="{% static 'images/not.png' %}" alt="First slide"> {% endcomment %}





  
  <div class="container-fluid">
    <div class="row">
      <!-- sidebar -->
      <div class=" col-md-3  ">
        <div class=" border bg-light rounded my-2 ">
          <ul class="navbar-nav">
            <li class="nav-item active"><a href="{% url 'posts' %}" class="nav-link">پست ها</a></li>
            <li class="nav-item active"><a href="{% url 'categorys' %}" class="nav-link">دسته بندی ها </a></li>
            <li class="nav-item active"><a href="{% url 'tags' %}" class="nav-link">تگ ها </a></li>
          </ul>
        </div>
      </div>

      <!-- content -->
      <div class=" col-md-9 ">
        <div class="  border bg-light rounded my-2 pt-2">
          <!-- content -->
          {% block content %}

          {% endblock content %}


          <!-- /content -->

        </div>
      </div>
    </div>

  </div>






</body>

</html>