{% extends "class_base.html" %}
{% block content %}
{% load crispy_forms_tags %}

 {% comment %} <form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    


                {{ form|crispy }}
    <button name="submit" >ثبت نام</button>
    <input type="hidden" value="login">
</form>  {% endcomment %}
<form method='POST' action="{% url 'login' %}">
    {%csrf_token%}
    {{ form|crispy }}
<button type='submit'>Submit</button>
Already Have An Account? <a href="{%url 'login' %}">Login</a>


{% endblock content %}